html{  
  padding: 50px;  
background-color: lightblue;
}
header{
  background: linear-gradient(yellow, pink);
  position: relative;
}
body{
  background-size: 200% 400%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-size: 2rem;
	text-align: justify;
	font: 1em sans-serif;
	color: gray;
}
form {  
  padding: 50px;  
background-color: black;  
border-radius: 20px;
border-width: 100%;
height: 250px;
}  

input[type=email], input[type=password]{  
width: 100%;  
padding: 15px;  
margin: 5px 0 22px 0;  
display: inline-block;  
border: none;  
background: #f1f1f1;  
border-radius:20px;
}  
input[type=email]:focus, input[type=password]:focus {  
background-color: yellowgreen;  
outline: none;  
}  
div {  
          padding: 10px 0;  
       }  
form{  
border: 1px solid #f1f1f1;  
margin-bottom: 25px;
text-align: justify; 
}  
.loginbtn {  
background-color: yellowgreen;  
color: white;  
padding: 16px 20px;  
margin: 8px 0;  
border: none;  
cursor: pointer;  
width: 100%;  
opacity: 0.9; 
text-align: center;
border-radius:20px;
width: 100px;
}  
.registerbtn:hover {  
opacity: 1;  
}
.footer{
	height: 50px;
	background-size:contain;
	width:100%;
	color: #fff;
	box-shadow: 0 -2px 5px #888;
	position: bottom;
	font-size: 1em;
	line-height: 3em;
	margin-top: auto;
	display: flex;
	flex-direction:row;
	font-size: .8em;
	justify-content:space-around;

}
footer { background:yellowgreen;  
text-align: right;
};
}

nav ul { list-style: none; }
nav ul li { display: inline; margin-left: 15px; font-weight: bold; }
nav ul li A { color: white; }
nav ul li A:visited { color: white; }
nav ul li A:hover { color: orange; }
A { text-decoration: none; color: blue; }
A:visited { color:purple; }
A:hover { color: orange; }
button{
	size: large;
	font-size: medium;
	background-color: yellowgreen;

}
